[submodule "cpp/googletest"]
	path = cpp/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "cpp/SFML"]
	path = cpp/SFML
	url = https://github.com/SFML/SFML.git
	branch = master
[submodule "cpp/googlelog"]
	path = cpp/googlelog
	url = https://github.com/google/glog.git
